@font-face{
	font-family: proximanova;
	src: "font/Mark Simonson - Proxima Nova Thin-webfont.ttf";
}
body{
	margin: 0;
	font-family: "proximanova",sans-serif;
	background: #dfdfdf;
	color: #222;
}
.bg_navbar{
	background: #25ADE8;
	padding: 15px 20px;
	color: white;
}
.nav-bar p{
	display: inline-block;
	text-align: right;
	margin: 12px 0;
}
.nav-bar{
	text-align: right;
	padding-right: 40px;
}
.nav-bar .username, .nav-bar .logo{
	display: inline-block;
	padding: 5px;
}
.logout {
	padding: 0px;
}
.keluarout {
	transition-duration: 0.2s;
	cursor: pointer;
}
.keluarout:hover {
	text-decoration: underline;
	color: #ffa602;
}
.logo img{
	width: 45px;
	border-radius: 100%;
}
.icon img{
	width: 60px;
}
.title{
	border-bottom: 1px solid white;
	padding: 5px 0;
}
.title h3, .subtitle p{
	margin: 0;
	padding: 0;
}
.subtitle{
	padding: 5px 0;
}
footer {
  background: rgb(2, 67, 78);
  color: rgb(247, 247, 247);
  margin: 0 -15px;
  padding: 15px 15px;
}
footer a {
  display: inline-block;
  text-decoration: none;
  color: rgb(247, 247, 247);
  background: rgb(102, 102, 102);
  padding: 10px 30px;
  margin: -10px 0 10px 0;
}
#footer-menu-container {
  border-bottom: 1px solid white;
}
.repad{
	padding: 30px;
}
.bg_sidebar {
	display: none;
	display: block;
	padding: 0;
	background-color: rgb(28, 28, 28);
	list-style-type: none;
	color: #F1F1F1;
}
.bg_sidebar ul{
	padding: 0;
	margin: 0;
}
.bg_sidebar ul li{
	padding: 20px 20px;
	list-style: none;
	text-align: center;
}
li.hover{
	background: rgb(56, 56, 56);
}
.content {
	padding: 15px;
}
.text-cont {
	background: #f1f1f1;
	padding: 12px;
}
.text-img img {
	border-radius: 50%;
	width: 50px;
	height: 50px;
}
.text-name {
	font-size: 0.7em;
}
.text-line {
	border: 0;
	width: 83.333333%;
	height: 5px;
	background: #dfdfdf;
}
.text-content {
	border-left: 5px solid #2b8f0c;
}
.text-button {
	margin-top: 15px;
}
.text-button button {
	width: 100%;
	padding: 10px 0;
	background: rgb(28, 28, 28);
	color: #F5F5F5;
	border: 0;
}
